# Syntax reference:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions

name: Build
permissions: read-all

on:
  push:
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  pull_request:
    types: [opened, synchronize]

jobs:
  building:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Update packages
        run: sudo apt-get update

      - name: Install tornettools dependencies
        run: sudo apt-get install -y
          python3
          python3-dev
          python3-pip
          libxml2
          libxml2-dev
          libxslt1.1
          libxslt1-dev
          libpng16-16
          libpng-dev
          libfreetype6
          libfreetype6-dev
          libblas-dev
          liblapack-dev

      - name: Build tornettools
        run: |
          mkdir build
          python3 -m venv build/tornettoolsenv
          source build/tornettoolsenv/bin/activate
          pip3 install wheel
          pip3 install -r requirements.txt
          pip3 install -I .
